/* base styles */

body {
  font-family: 'Roboto', sans-serif;

  color: #434455;
  background-color: #fff;

  /*    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;   */
}

ul {
  list-style: none;
}

/* Common styles */
.team-title,
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 3,4 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Reset styles */

/* header section */

.header {
  background: var(--WHITE, #fff);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-accent {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-list {
}

.header-item {
}

.header-link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link:hover,
:focus {
  color: var(--OCEAN, #404bbf);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.address-list {
}

.address-item {
}

.address-link {
  color: var(--SLATE, #434455);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-link:hover,
:focus {
  color: var(--OCEAN, #404bbf);
}

/* main section */
/* title section */

.main {
  background: var(--NAVY-BLUE, #2e2f42);
}

.main-title {
  color: var(--WHITE, #fff);
  text-align: center;

  /* H1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button {
  color: var(--WHITE, #fff);
  background: var(--IRIS, #4d5ae5);

  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
button:focus {
  color: var(--WHITE, #fff);
  background: var(--OCEAN, #404bbf);
}

/* section2 */
.benefits .benefits-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6; /* 111.111% */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2e2f42);
}

.benefits-list {
}

.benefits-item {
}

.benefits-caption {
  color: var(--NAVY-BLUE, #2e2f42);

  /* H3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.benefits-text {
  color: var(--SLATE, #434455);
  /* text */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* section3 */

.team {
  background: var(--CLOUD, #f4f4fd);
}

.team-title {
}

.team-list {
}

.team-item {
  background: var(--WHITE, #fff);
}

.team-picture {
  background: var(--WHITE, #fff);
}

.team-caption {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.team-text {
  color: var(--SLATE, #434455);

  /* text */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* section4 */

.portfolio {
  background: #fff;
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
  background: var(--WHITE, #fff);
}

.portfolio-picture {
  background: var(--WHITE, #fff);
}

.portfolio-caption {
  color: var(--NAVY-BLUE, #2e2f42);

  /* H3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: var(--SLATE, #434455);

  /* text */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  font-family: 'Raleway';
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo-accent {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);

  /* text  */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
