/* base styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  min-width: 1440px;

  /*    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;   */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Common styles */
.team-title,
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 3,4 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.container-nav {
  display: flex;
  align-items: center;
}

/* Reset styles */

/* header section */

.header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.header-nav 

{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 76px;
}

.header-logo-accent {
  color: var(--NAVY-BLUE, #2e2f42);
  width: 71px;
  justify-content: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  /* display: flex;
  gap: 40px;
  padding: 24px 0; */
}

.header-link {
  display: block;
  padding: 16px 32px;

  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link:hover,
:focus {
  color: var(--OCEAN, #404bbf);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;

  display: block;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-item {
}

.address-link {
  color: var(--SLATE, #434455);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-link:hover,
:focus {
  color: var(--OCEAN, #404bbf);
}

/* main section */
/* title section */

.main {
  background: var(--NAVY-BLUE, #2e2f42);
  flex-grow: 1;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
}

.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  margin: 0 auto 48px;

  /* H1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  color: var(--WHITE, #fff);
  background: var(--IRIS, #4d5ae5);
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  border: none;

  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
button:focus {
  color: var(--WHITE, #fff);
  background: var(--OCEAN, #404bbf);
}

/* section2 */
.benefits {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6; /* 111.111% */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2e2f42);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
  gap: 24px;
}

.benefits-content {
  padding: 32px 0;
}

.benefits-caption {
  color: var(--NAVY-BLUE, #2e2f42);

  /* H3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.benefits-text {
  color: var(--SLATE, #434455);
  /* text */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* section3 */

.team {
  background: var(--CLOUD, #f4f4fd);
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  row-gap: 48px;

  border-radius: 0px 0px 4px 4px;
}

.team-item {
  width: calc((100% - 96px) / 4);
}

.team-picture {
  background: var(--WHITE, #fff);
}

 .team-caption {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-top: 32px;

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  margin-top: 8px;
  padding-bottom: 32px;
  /* text */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; */
}

/* section4 */

.portfolio {
  background: #fff;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  border-top: none;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-picture {
  background: var(--WHITE, #fff);
}

.portfolio-caption {
  color: var(--NAVY-BLUE, #2e2f42);

  padding-top: 16px;

  /* H3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: var(--SLATE, #434455);

  /* text */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 8px;
}

/* footer */

.footer {
  font-family: 'Raleway';
  background: var(--NAVY-BLUE, #2e2f42);

  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 17.5px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);

  /* text  */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  max-width: 264px;
}
